@model IEnumerable<WebStore.ViewModels.EmployeeView>
@{
    ViewData["Title"] = "Список клиентов";
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.SurName + " " + item.FirstName + " " + item.Patronymic, "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.TextBox(@itemSurName);

</body>
</html>